<div class="center jumbotron">
  <%= image_tag 'insta.jpg', alt: 'Home image' %>
  <h1>Instagram App</h1>

  <h2>
    Welcome to Instagram App
  </h2>

  <%= link_to "Facebookでログイン", signup_path, class: "btn btn-lg btn-primary" %>
</div>